.dash-nav {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: flex-end;
}

.dash-nav-link {
    margin-left: 50px; /* Adjust the margin value as per your preference */
}

.dash-nav-link h1 {
    font-size: 14px; /* Adjust the font size as per your preference */
    margin-right: 25px;
}
