.dash-nav {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: flex-end;
}

.dash-nav-link {
    margin-left: 50px; 
}

.dash-nav-link h1 {
    font-size: 14px; 
    margin-right: 25px;
}

.deposit-form-container form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.deposit-form-container .form-group {
    width: 100%;
    max-width: 300px;
}

.deposit-title {
    margin-top: 100px;
    text-align: center;
}

.material-icons {
    font-size: 20px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
  

.deposit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust the height as needed */
  }